@{
    ViewBag.Title = "Olss Brand";
}

<h2>Index</h2>

<div class="table-responsive">
    <table id="MainDataTable" class="table table-striped">
        <thead>
            <tr>
                <th>Brand Name</th>
                <th>Brand Description</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    <script>
        function LoadDataTable() {
            $('#MainDataTable').each(function () {
                var oDataTable = $(this).dataTable({
                    "bServerSide"     : true,
                    "bProcessing"     : true,
                    "aaSorting"       : [ [0, "desc"] ],
                    "sAjaxSource"     : "@Url.Action("AjaxHandler", "TmOlssBrand")",
                    "sDom"            : "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                    "sPaginationType" : "full_numbers",
                    "aoColumns"       : [
                        { "mData" : "brand_name" },
                        { "mData" : "brand_desc" }
                    ]
                });
            })
        }

        $(document).ready(function () {
            LoadDataTable();
        });
    </script>
}
